<!DOCTYPE html>
<html dir="rtl" lang="ar">
  <head>
    <title>Home visit</title>
    <link rel="icon" href="/images/favicon.png" type="image/png" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&family=Tajawal:wght@300;400;500;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="body">
    <header class="container header">
      <h1 class="mb-4 mt-4">Home visit System</h1>
    </header>
    <nav class="container nav">
      <a href="/visits/chimist" class="btn btn-primary m-4">chimist List</a>
      <a href="/visits/new" class="btn btn-primary m-4">New Visit</a>
      <form action="/" method="get" class="m-2">
        <button class="btn btn-primary" type="submit">Search</button>
        <input type="text" class="search" name="search" required />
      </form>
      <form action="/" method="get" class="m-2 form-inline">
        <button type="submit" class="btn btn-primary">Get</button>
        <input type="date" name="searchDate" id="searchDate" />
      </form>
    </nav>
    <article class="container-xl">
      <% if (visits.length ===0) { %>
      <h6 class="no-v">لا يوجد زيارات</h6>
      <% } else { %>
      <div class="hide">
        <div class="logo">
          <img src="/images/logo.png" alt="" />
          <p>testing Lorem ipsum dolor</p>
        </div>
      </div>
      <h4 class="v-heading">زيارات <%= visits[0].date %></h4>
      <div class="card-body hed">
        <h4 class="card-title">اسم العميل</h4>
        <h4 class="card-title">المنطقه</h4>
        <h4 class="card-title">رقم الهاتف</h4>
        <h4 class="card-title">توقيت الزياره</h4>
        <h4 class="card-title">تاريخ الزياره</h4>
        <h4 class="card-title">اسم الكميائي</h4>
        <h4 class="card-title">اجمالي التكلفه</h4>
      </div>
      <% visits.forEach((visit,i) =>{ %>
      <div class="card container-xl <%= visit.stat %>">
        <a href="/visits/print/<%= visit._id %> " class="edit">
          <div class="card-body">
            <span class="count"><%= i+1 %> </span>
            <h6 class="card-title"><%= visit.name %></h6>
            <p class="card-title"><%= visit.ragion %></p>
            <p class="card-title"><%= visit.phoneNum1 %></p>
            <p class="card-title"><%= visit.time.slice(-9) %></p>
            <p class="card-title"><%= visit.date %></p>
            <p class="card-title"><%= visit.chimist %></p>
            <p class="card-title"><%= visit.cost %></p>
          </div>
        </a>
      </div>
      <% }) %> <% } %>
    </article>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
