<!-- الاسم  -->
<div class="mb-3">
  <input
    class="form-control"
    name="name"
    id="name"
    placeholder="الاسم"
    required
    type="text"
    value="<%= visit.name %>"
  />
</div>

<!-- رقم الهاتف -->
<div class="input-group mb-3">
  <input
    class="form-control"
    placeholder="رقم الهاتف"
    name="phoneNum1"
    id="name"
    value="<%= visit.phoneNum1 %>"
    required
  />
  <span class="input-group-text">-</span>
  <input
    class="form-control"
    placeholder="رقم الارضي"
    name="phoneNum2"
    id="name"
    value="<%= visit.phoneNum2 %>"
    required
  />
</div>
<!-- العنوان -->
<div class="input-group mb-3">
  <input
    class="form-control"
    name="ragion"
    placeholder="المنطفة"
    id="ragion"
    type="text"
    value="<%= visit.ragion %>"
    required
  />
  <span class="input-group-text">-</span>
  <input
    class="form-control"
    placeholder="اسم الشارع"
    name="stname"
    id="stname"
    type="text"
    required
    value="<%= visit.stname %>"
  />
  <span class="input-group-text">-</span>
  <input
    class="form-control"
    placeholder="رقم العماره"
    name="blnum"
    id="blnum"
    type="text"
    required
    value="<%= visit.blnum %>"
  />
  <span class="input-group-text">-</span>
  <input
    class="form-control"
    placeholder="الدور"
    name="flnum"
    id="flnum"
    type="text"
    required
    value="<%= visit.flnum %>"
  />
  <span class="input-group-text">-</span>
  <input
    class="form-control"
    placeholder="رقم الشقه"
    name="donum"
    id="donum"
    type="text"
    required
    value="<%= visit.donum %>"
  />
  <span class="input-group-text">-</span>
  <input
    class="form-control"
    placeholder="علامه مميزه"
    name="spchilmark"
    id="spchilmark"
    type="text"
    required
    value="<%= visit.spchilmark %>"
  />
</div>

<!-- التحاليل -->
<div class="input-group mb-3">
  <span class="input-group-text mb-3">اسماء التحاليل</span>
  <textarea
    class="form-control mb-3"
    aria-label="With textarea"
    name="tests"
    id="tests"
    required
  >
<%= visit.tests %></textarea
  >
</div>

<!-- الوقت  -->
<div class="input-group mb-3">
  <input
    class="form-control mp-3"
    placeholder="تاريخ القيام بالزياره"
    id="time"
    type="number"
    name="time"
    required
    value="<%= visit.time %>"
  />

  <span class="input-group-text">-</span>
  <input
    class="form-control mp-3"
    name="date"
    id="date"
    type="date"
    required
    value="<%= visit.date %>"
  />
  <span class="input-group-text">-</span>
  <input
    class="form-control mp-3"
    name="creater"
    id="creater"
    type="text"
    name="creater"
    placeholder="مستقبل الزياره"
    value="<%= visit.creater %>"
    required
  />
  <input
    type="text"
    class="form-control"
    name="chimist"
    placeholder="اسم القائم بالزياره"
    value="<%= visit.chimist %>"
    required
  />
</div>

<div class="input-group mb-3">
  <span class="input-group-text mb-3">ملاحظات</span>
  <textarea class="form-control mb-3" name="nots" id="nots" required>
<%= visit.nots %></textarea
  >
</div>
<div class="input-group mb-3">
  <span class="input-group-text">الاجمالي</span>
  <input
    class="form-control"
    placeholder="اجمالي التكلفه"
    name="cost"
    id="cost"
    type="text"
    required
    value="<%= visit.cost %>"
  />
</div>
<div class="form-check form-check-inline">
  <input
    class="form-check-input"
    type="radio"
    name="stat"
    id="inlineRadio1"
    value="red"
  />
  <label class="form-check-label" for="inlineRadio1">Del</label>
</div>
<div class="form-check form-check-inline">
  <input
    class="form-check-input"
    type="radio"
    name="stat"
    id="inlineRadio2"
    value="yellow"
  />
  <label class="form-check-label" for="inlineRadio2">In Call</label>
</div>
<div class="form-check form-check-inline">
  <input
    class="form-check-input"
    type="radio"
    name="stat"
    id="inlineRadio3"
    value="white"
  />
  <label class="form-check-label" for="inlineRadio3">Normal</label>
</div>
<!-- aria  -->
<div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="aria"
      id="aria0"
      value="0"
    />
    <label class="form-check-label" for="aria0">العحمي</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="aria"
      id="aria1"
      value="1"
    />
    <label class="form-check-label" for="aria1">الاولي</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="aria"
      id="aria2"
      value="2"
    />
    <label class="form-check-label" for="aria2">الثانية</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="aria"
      id="aria3"
      value="3"
    />
    <label class="form-check-label" for="aria3">الثالثة</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="aria"
      id="aria4"
      value="4"
    />
    <label class="form-check-label" for="aria4">الرابعة</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="aria"
      id="aria5"
      value="5"
    />
    <label class="form-check-label" for="aria5">مسحة</label>
  </div>
</div>
